.testimonial{
  // height: 200px;
  // position: relative;
  background-color: #ff402f;
  padding: 20px 0;
.carousel-item {
  // background-color: aqua;
  // position: relative;
  top: 50%;
  img{
    width: 300px;
    visibility: hidden;
  }
}
.carousel-indicators {
  left: -400px;
  top: 10px;
  margin-left: 0;
  // position: absolute;
}
.carousel-caption {
  img{
    visibility: visible;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 30px;
    margin-right: 10px
}
span{
  display: inline-block;
  h4{
    color: #049448;
    font-size: 20px;
  }
  p{
    color: #acacac;
    font-style: italic;
  }
}
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #049448;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  display: none;
}
}
